[submodule "desktop/themes/dracula-theme"]
	path = desktop/themes/dracula-theme
	url = https://github.com/dracula/gtk.git
[submodule "desktop/applications/polybar/scripts/polybar-scripts"]
	path = desktop/applications/polybar/scripts/polybar-scripts
	url = https://github.com/polybar/polybar-scripts.git
[submodule "terminals/alacritty/themes/alacritty-dracula-theme"]
	path = terminals/alacritty/themes/alacritty-dracula-theme
	url = https://github.com/dracula/alacritty.git
[submodule "desktop/applications/ulauncher/dracula-theme"]
	path = desktop/applications/ulauncher/dracula-theme
	url = https://github.com/dracula/ulauncher.git