[submodule "modules/fzf"]
	path = modules/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "modules/SpaceVim"]
	path = modules/SpaceVim
	url = https://github.com/SpaceVim/SpaceVim.git
[submodule "modules/ohmyzsh"]
	path = modules/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
  ignore = dirty
[submodule "shells/zsh/themes/dracula-zsh"]
	path = shells/zsh/themes/dracula-zsh
	url = https://github.com/dracula/zsh.git
[submodule "shells/zsh/plugins/zsh-autosuggestions"]
	path = shells/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "desktop/themes/dracula-theme"]
	path = desktop/themes/dracula-theme
	url = https://github.com/dracula/gtk.git
